/*general*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

::selection {
  background: #ccc;
}

::-moz-selection {
  background: #ccc;
}

::-webkit-selection {
  background: #ccc;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1198px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Raleway", sans-serif;
}
.link {
  text-decoration: none;
  color: inherit;
}
/* header */

header {
  background-color: #161616;
}
.header__item:last-child {
  margin-right: 0;
}
.header__item {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  list-style-type: none;
  margin-right: 30px;
}
.header__icon {
  fill: #fff;
}
