/*general*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

::selection {
  background: #ccc;
}

::-moz-selection {
  background: #ccc;
}

::-webkit-selection {
  background: #ccc;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1198px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Raleway", sans-serif;
}
.link {
  text-decoration: none;
  color: inherit;
}
.h1-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.button {
  outline: 0;
  border: 0;
  text-transform: uppercase;
}
/* header */

header {
  background-color: #161616;
  padding: 29px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
}
.header__link {
  text-transform: uppercase;
}
.header__item {
  font-size: 13px;
  color: #fff;
  list-style-type: none;
  margin-right: 30px;
}
.header__item-info {
  position: relative;
  margin-left: 25px;
}
.header__icon {
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
}

/* intro */
.intro {
  background-color: #161616;
  position: relative;
}
.intro__inner {
  width: 46%;
  padding: 140px 0 40px;
}
.intro__title {
  color: #fff;
}
.intro__button {
  background-color: #ffe500;
  font-weight: bold;
  font-size: 18px;
  color: #161616;
  padding: 19px 50px;
  margin-top: 70px;
}
.intro__image {
  display: block;
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 50%;
}
.intro__control-slider {
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
}
